* {
    box-sizing: border-box;
  }

body {

font-family: Arial, Helvetica, sans-serif;
background-color: antiquewhite;

}

header {
    background-color: rgb(223, 16, 16);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  section {
    background-color: greenyellow;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: 2px solid cyan;
    border-radius: 25px;
    border-spacing: 5px;
    border-collapse: separate;
    display: flex;
  }

article {
    background-color: rgb(111, 155, 212);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

forecastContainer {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row-reverse;
}


nav  {


}

button {
  

  }

  footer {
    background-color: rgb(79, 231, 52);
    padding: 10px;
    text-align: center;
    color: white;
  }